@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  height: 800px;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 25%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  left: 48%;
  transform: translateY(-50%);
  background-color: #000;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.datawrap{
  width: 100%;
  max-width: 500px;
  display: flex ;
  justify-content: center;
  position: relative;
  padding: 0 0.4rem;
  margin-bottom: 10px;
}

.input-date {
  max-width: 240px;
  width: 100%;
  margin: 5px 10px;
  background-color: #f0f0f0;
  height: 55px;
  border-radius: 55px;
  display: flex;
  padding: 0 0.4rem;
  position: relative;
}

.input-date i {
  text-align: center;
  line-height: 55px;
  margin-left: 10px;
  margin-right: 5px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-date input {
  background: none;
  max-width: 120px;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-date input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field {
  max-width: 480px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* 

*/


.file-upload .file-upload-select1,
.file-upload .file-upload-select2 {
	display: block;
	color: #555;
	cursor: pointer;
	text-align: left;
	background: #f0f0f0;
	overflow: hidden;
	position: relative;
	border-radius: 6px;
  max-width: 400px;
  margin: 10px 0;
}
.file-upload .file-upload-select1 .file-select-button,
.file-upload .file-upload-select2 .file-select-button {
	background: #f2f2f2;
	padding: 10px;
	display: inline-block;
}
.file-upload .file-upload-select1 .file-select-name1,
.file-upload .file-upload-select2 .file-select-name2 {
	display: inline-block;
	padding: 10px;
  width: 245px;
}
.file-upload .file-upload-select1:hover .file-select-button,
.file-upload .file-upload-select2:hover .file-select-button {
	background: #324759;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.file-upload .file-upload-select1 input[type="file"],
.file-upload .file-upload-select2 input[type="file"] {
	display: none;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #f0f0f0;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 25em;
  height: 3em;
  line-height: 3;
  padding-left: 10px;
  background: #f0f0f0;
  overflow: hidden;
  margin: 5px 10px;
  border-radius: 55px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #aaa;
  background: #f0f0f0;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #34495e;
}

/*           */


.btn {
  width: 150px;
  background-color: #ffbb38;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
    color: #222;
    background-color: #f0f0f0;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* 

*/


@media (max-width: 1150px) {
  .container {
    min-height: 1000px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 92%;
    transform: translate(-50%, -90%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    left: 0;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  } 

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .container:before {
    width: 2000px;
    height: 1600px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 80%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
}

@media (max-width: 660px) {
  form {
    padding: 0 1.5rem;
  }
  .signin-signup{
    top: 87%;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 84%;
    left: 50%;
  }

  .panel p{
      display: none;
  }
}
